@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-rating {
  font-size: 24px;
}

.star {
  cursor: pointer;
  color: #faf5f5;
}

.star.selected {
  color: #f2c500; /* Change color for selected stars */
}


.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 2.5s ease infinite alternate;
  -moz-animation: animatedgradient 2.5s ease infinite alternate;
  animation: animatedgradient 2.5s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradient-border {
  0% {
    border-color: seashell;
  }
  25% {
    border-color: gray;
  }
  50% {
    border-color: pink;
  }
  75% {
    border-color: rgb(209, 194, 209);
  }
  100% {
    border-color: rgb(223, 147, 147);
  }
}

.gradient-border {
  border-width: 2px;
  border-style: solid;
  border-radius: 9999px; /* Ensures a fully rounded border */
  animation: gradient-border 7s infinite;
}
